{{ ansible_managed | comment }}

jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://192.168.0.1:5432/perun
jdbc.username=perun
jdbc.password={{ perun_postgresql_db_user_password }}

# HikariCP suggest to match number of connections with number of CPUs available.
# minimumIdle means that number unused connections will be maintained all the time
# Max. should be below DB limit (which si by default 150 for Perun).
jdbc.maximumPoolSize=150
jdbc.minimumIdle=1

# How long Perun waits for connection from the pool before exception is thrown. Value is in millis.
# Our default is 5 minutes / Hikari default is 30s
jdbc.connectionTimeout=300000

# How long we keep one connection in the pool before eviction. Value is in millis.
# Currently used connection are evicted only after returning to the pool if they exceeded the limit.
# Must be below any DB or infrastructure limit.
# Hikari default is 30 minutes.
jdbc.maxLifetime=1800000

# How long we keep idle connections in the pool before eviction.
# Must be several seconds below maxLifetime.
# Hikari default is 10 minutes.
jdbc.idleTimeout=600000

# Log connections which are stuck in the process of closing and before their returning to the pool for specified time.
# Value is in millis.
# Hikari default is 0 (disabled), our default is 30 seconds
jdbc.leakDetectionThreshold=30000