{{ ansible_managed | comment }}

ldap.url=ldap://192.168.0.1:389
ldap.base={{ perun_ldap_basedn }}
ldap.userDn={{ perun_ldap_data_admin_dn }}
ldap.password={{ perun_ldap_data_password }}
ldap.consumerName=ldapcConsumer
ldap.loginNamespace={{ perun_ldap_sasl_login_namespace }}
ldap.stateFile=./perun-ldapc-last-state

# password for {{ perun_ldap_data_admin_dn }}: {{ perun_ldap_data_password }}
# password for cn=admin,cn=config: {{ perun_ldap_config_password }}
# password for cn=proxy,{{ perun_ldap_basedn }}: {{ perun_ldap_proxy_password }}
