# URL to perun instance
perunUrl=https://{{ perun_rpc_hostname }}

# Secret key for authentication messages
secretKey={{ perun_registrar_secretKey }}

# Backup email adresses
backupFrom={{ perun_registrar_backupFrom }}
backupTo={{ perun_registrar_backupTo }}

# Federative authz
fedAuthz={{ perun_registrar_fedAuthz }}
