{{ ansible_managed | comment }}

ServerName {{ perun_rpc_hostname }}

<VirtualHost *:80>

  ServerAdmin {{ perun_email }}
  ServerName {{ perun_rpc_hostname }}
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

# Support Federated and Kerberos authz on single instance
# Shib module otherwise occupy "Require valid-user" option
ShibCompatValidUser on

<VirtualHost *:443>

  ServerAdmin {{ perun_email }}
  ServerName {{ perun_rpc_hostname }}
{% for item in perun_rpc_hostname_aliases %}
  ServerAlias {{ item }}
{% endfor %}

  DocumentRoot /var/www/html
  <Directory "/var/www/html">
    Options -Indexes +FollowSymLinks -MultiViews
    Require all granted
  </Directory>

  # GENERIC ERRORS
  ErrorDocument 401 /maintenance/401.html
  ErrorDocument 403 /maintenance/403.html
  ErrorDocument 404 /maintenance/404.html
  ErrorDocument 500 /maintenance/500.html
  ErrorDocument 503 /maintenance/503.html

  #### SSL

  SSLEngine on

  SSLCertificateFile /etc/perun/ssl/hostcert.pem
  SSLCertificateKeyFile /etc/perun/ssl/hostkey.pem
  SSLCertificateChainFile /etc/perun/ssl/hostchain.pem

{% if perun_apache_igtf_certs %}
  # SSL client certificates authentication
  SSLCACertificatePath /etc/grid-security/certificates/
  SSLCADNRequestFile /etc/grid-security/accepted_cas.pem
  SSLVerifyDepth 5
  SSLVerifyClient optional
  SSLOptions +LegacyDNStringFormat
{% endif %}

  # Note: buffer size must be set also in Tomcat and must be lower then this value.
  ProxyIOBufferSize 65536

  #### SECURITY

  # HTTP tracing
  TraceEnable off
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options
  Header always set X-Frame-Options DENY
  # https://scotthelme.co.uk/hsts-the-missing-link-in-tls/
  Header always set Strict-Transport-Security "max-age=63072000"
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
  Header always set X-Content-Type-Options nosniff
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection
  Header always set X-XSS-Protection "1; mode=block"
  # https://scotthelme.co.uk/content-security-policy-an-introduction/
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ {{ perun_apache_csp_script_src }} ; frame-src https://www.google.com/recaptcha/ {{ perun_apache_csp_frame_src }} ; style-src 'self' 'unsafe-inline' {{ perun_apache_csp_style_src }}; font-src 'self' {{ perun_apache_csp_font_src }} ; img-src 'self' data: {{ perun_apache_csp_img_src }} ; ; connect-src 'self' {{ perun_apache_csp_connect_src }}"
  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header always set Referrer-Policy "no-referrer-when-downgrade"
  # https://scotthelme.co.uk/a-new-security-header-feature-policy/
  Header always set Feature-Policy "microphone 'none'; camera 'none'; geolocation 'none'; payment 'none'"

  # Disable browser caching for our html/rpc resources
  Header always set Cache-Control "no-cache, no-store, max-age=0, must-revalidate" "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Pragma no-cache "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Expires 0 "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"

  #### REWRITE

  RewriteEngine On

  # Protection against proxy attacks
  RewriteCond  %{REQUEST_URI}  !^$
  RewriteCond  %{REQUEST_URI}  !^/
  RewriteRule  .*              -    [R=400,L]

{{ perun_apache_special_config1 }}

{% if perun_apache_in_maintenance %}
  ####################################
  ##      MAINTENANCE             ####
  ####################################
  RewriteCond %{REQUEST_URI} !^/ba/
  RewriteCond %{REQUEST_URI} !^/maintenance/
  RewriteCond %{REQUEST_URI} !^/Shibboleth.sso/
  RewriteRule .* /maintenance/maintenance.html [R,L]
{% endif %}

{% if perun_apache_default_gui_enabled %}
  ####################################
  ##     Default GUI              ####
  ####################################
  RewriteRule ^[/]?$ https://%{HTTP_HOST}/fed/gui/ [L]
{% endif %}
{% if perun_apache_default_profile_enabled %}
  ####################################
  ##     Default Profile          ####
  ####################################
  RewriteRule ^[/]?$ https://%{HTTP_HOST}/{{ perun_apache_profile_default_auth }}/profile/ [L]
{% endif %}

  ####################################
  ##     RPC                      ####
  ####################################

  <Proxy "ajp://perun_rpc:8009/">
    ProxySet secret={{ perun_rpc_ajp_secret }}
  </Proxy>
  # General rewrite rule
  RewriteRule ^/(.*)/rpc/(.*)$ ajp://perun_rpc:8009/perun-rpc/$2 [P,QSA,E=AJP_SSL_CLIENT_VERIFY:%{SSL:SSL_CLIENT_VERIFY},E=AJP_SSL_CLIENT_I_DN:%{SSL:SSL_CLIENT_I_DN},E=AJP_SSL_CLIENT_S_DN:%{SSL:SSL_CLIENT_S_DN},E=AJP_SSL_CLIENT_CERT:%{SSL:SSL_CLIENT_CERT}]

{{ perun_apache_other_rewrites }}
  ####################################
  ##     GUI                      ####
  ####################################
  RewriteRule ^/gui[/]?$ https://%{HTTP_HOST}/fed/gui/ [L,R=301]
  RewriteRule ^/(.*)/gui$ https://%{HTTP_HOST}/$1/gui/ [L,R=301]
  RewriteRule ^/(.*)/gui/$ /var/www/perun-web-gui/PerunWeb.html [L]
  RewriteRule ^/(.*)/gui/(.+)$ /var/www/perun-web-gui/$2 [L]

  ####################################
  ##     Registrar                ####
  ####################################
  RewriteCond %{REQUEST_URI} ^/(.*)/registrar$
  RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

  RewriteRule ^/registrar[/]?$ https://%{HTTP_HOST}/{{ perun_apache_registrar_default_auth }}/registrar/ [L,R=301]
  RewriteRule ^/(.*)/registrar/?$ /var/www/perun-wui/PerunRegistrar{{ perun_apache_registrar_html_suffix }}.html [L]
  RewriteRule ^/(.*)/registrar/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     Password Reset           ####
  ####################################
  RewriteRule ^/(.*)/pwd-reset$ https://%{HTTP_HOST}/$1/pwd-reset/ [L,R=301]
  RewriteRule ^/(.*)/pwd-reset/$ /var/www/perun-wui/PerunPwdReset{{ perun_apache_pwdreset_html_suffix }}.html [L]
  RewriteRule ^/(.*)/pwd-reset/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     Identity Consolidator    ####
  ####################################

  # SP endpoint
  <Location "/Consolidator.sso">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    ShibRequestSetting applicationId consolidator
    Require shib-session
  </Location>

{% if perun_apache_consolidator_forceAuthn %}
  <LocationMatch "^/Consolidator.sso/Login">
    ShibRequestSetting forceAuthn On
  </LocationMatch>
{% endif %}

  RewriteRule ^/(krb|cert)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
  RewriteRule ^/(krb|cert)-ic/ic/$ /var/www/perun-wui/PerunConsolidator{{ perun_apache_consolidator_html_suffix }}.html [L]
  RewriteRule ^/(krb|cert)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  RewriteRule ^/(.*)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
{% if  perun_apache_consolidator_rewrite_rules is defined %}
{{ perun_apache_consolidator_rewrite_rules }}
{% endif %}
  RewriteRule ^/(.*)-ic/ic/$ /var/www/perun-wui/PerunConsolidator{{ perun_apache_consolidator_html_suffix }}.html [L]
  RewriteRule ^/(.*)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  #must be last
  RewriteRule ^/(.*)/ic$ https://%{HTTP_HOST}/$1-ic/ic/ [L,NE,R=301]
  RewriteRule ^/(.*)/ic/(.*)$ https://%{HTTP_HOST}/$1-ic/ic/$2 [L,NE,R=301]

  ####################################
  ##     PROFILE                  ####
  ####################################
  RewriteRule ^/profile[/]?$ https://%{HTTP_HOST}/{{ perun_apache_profile_default_auth }}/profile/ [L,R=301]
  RewriteRule ^/(.*)/profile$ https://%{HTTP_HOST}/$1/profile/ [L,R=301]
  RewriteRule ^/(.*)/profile/$ /var/www/perun-wui/PerunProfile{{ perun_apache_profile_html_suffix }}.html [L]
  RewriteRule ^/(.*)/profile/(.+)$ /var/www/perun-wui/$2 [L]

{% if perun_apache_wui_enabled %}
  ####################################
  ##     WUI                      ####
  ####################################
  RewriteRule ^/(.*)/wui$ https://%{HTTP_HOST}/$1/wui/ [L,R=301]
  RewriteRule ^/(.*)/wui/$ /var/www/perun-wui/PerunAdmin.html [L]
  RewriteRule ^/(.*)/wui/(.+)$ /var/www/perun-wui/$2 [L]

{% endif %}
{% if perun_apache_affiliation_enabled %}
  ####################################
  ##     AFFILIATION              ####
  ####################################
  RewriteRule ^/(.*)/affiliation$ https://%{HTTP_HOST}/$1/affiliation/ [L,R=301]
  RewriteRule ^/(.*)/affiliation/$ /var/www/perun-wui/PerunSetAffiliation{{ perun_apache_affiliation_html_suffix }}.html [L]
  RewriteRule ^/(.*)/affiliation/(.+)$ /var/www/perun-wui/$2 [L]

{% endif %}
{% if perun_apache_publications_enabled %}
  ####################################
  ##     PUBLICATIONS             ####
  ####################################
  RewriteRule ^/(.*)/publications$ https://%{HTTP_HOST}/$1/publications/ [L,R=301]
  RewriteRule ^/(.*)/publications/$ /var/www/perun-wui/PerunCabinet.html [L]
  RewriteRule ^/(.*)/publications/(.+)$ /var/www/perun-wui/$2 [L]

{% endif %}
  ####################################
  ##     AuthN Methods            ####
  ####################################

  # HTTP Basic Authentication with username and password
  <LocationMatch "^/ba/">
    Options FollowSymLinks
    SSLRequireSSL
    SSLVerifyClient none
    AuthType basic
    AuthName "Perun RPC"
    Require valid-user
    AuthBasicProvider file
    AuthUserFile /etc/perun/apache/perun.passwd
    SetEnvIf _ .* AJP_EXTSOURCE=INTERNAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>

{% if perun_apache_igtf_certs %}
  # authentication with X509 client certificates
  <LocationMatch "(^/cert/|^/cert-ic/)">
    Options FollowSymLinks
    Require expr "%{SSL_CLIENT_VERIFY} == 'SUCCESS'"
    SSLOptions +StdEnvVars +ExportCertData +LegacyDNStringFormat
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceX509
    SetEnvIf _ .* AJP_EXTSOURCELOA=2
  </LocationMatch>
{% endif %}

{% if perun_apache_fed_enabled %}
  # authentication with SAML/Shibboleth
{% for item in perun_apache_fed_initiators %}
  <LocationMatch "^/{{ item.url }}/">
    AuthType shibboleth
    ShibRequestSetting applicationId {{ item.applicationId }}
    ShibRequestSetting requireSession 1
{% if item.id is defined %}
    ShibRequestSetting requireSessionWith {{  item.id }}
{% endif %}
{% if item.entityID is defined %}
    ShibRequestSetting entityID {{  item.entityID }}
{% endif %}
    Require shib-session
  </LocationMatch>

  <LocationMatch "^/{{ item.url }}-ic/">
    AuthType shibboleth
    ShibRequestSetting applicationId consolidator
    ShibRequestSetting requireSession 1
{% if item.id is defined %}
    ShibRequestSetting requireSessionWith {{  item.id }}
{% endif %}
    ShibRequestSetting forceAuthn On
{% if item.entityID is defined %}
    ShibRequestSetting entityID {{  item.entityID }}
{% endif %}
    Require shib-session
  </LocationMatch>

{% endfor %}
{% endif %}

{% if perun_apache_non_enabled %}
  <LocationMatch "^/non/">
    Options FollowSymLinks
    Require all granted
    SSLVerifyClient none

    SetEnvIf _ .* AJP_EXTSOURCE=LOCAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>
{% endif %}

{% if perun_apache_kerberos_enabled %}
  # authentication with Kerberos
{% for krbrealm in perun_apache_kerberos_realms %}
  <LocationMatch "{{ krbrealm.urlmatch }}">
    Options FollowSymLinks
    SSLRequireSSL
    AuthType KerberosV5
    AuthName "Kerberos {{ krbrealm.name }}"
    Require valid-user
    Krb5Keytab /etc/perun/apache/krb5.http.keytab
    KrbAuthRealms {{ krbrealm.name }}
    KrbSaveCredentials Off
    KrbMethodNegotiate On
    KrbMethodK5Passwd On
    KrbServiceName Any
    KrbVerifyKDC Off
    SetEnvIf _ .* AJP_EXTSOURCE={{ krbrealm.name }}
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceKerberos
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>
{% endfor %}
{% endif %}

  ###########################
  # OAuth2/OIDC             #
  ###########################

  OIDCOAuthIntrospectionEndpoint    {{ perun_apache_oauth_introspection_url }}
  OIDCOAuthClientID      {{ perun_apache_oauth_client_id }}
  OIDCOAuthClientSecret  {{ perun_apache_oauth_client_secret }}
  OIDCOAuthAcceptTokenAs header
  OIDCOAuthAcceptTokenAs post
  OIDCOAuthAcceptTokenAs query
  OIDCCryptoPassphrase tcXtrGbIlRWXkrT7
  OIDCCacheEncrypt On
  <LocationMatch "^/oauth/">
    SSLRequireSSL
    Authtype oauth20
    Require valid-user
  </LocationMatch>

{{ perun_apache_special_config2 }}
</VirtualHost>
