PERUN_URL=https://{{ perun_rpc_hostname }}/ba/rpc/
PERUN_USER=perun/{{ perun_apache_basicAuth_user_perun_password }}
PERUN_COOKIE=/tmp/perun-cli-cookie.txt
PERL5LIB=/opt/perun-cli/:/opt/perun-cli/Perun/
LANG=en_US.UTF-8
LANGUAGE=en_US:en
