notif.emailFrom={{ perun_notification_emailFrom }}
notif.fromText={{ perun_notification_fromText }}
notif.sendMessages=true
notif.dispatcherName=notifications
{{ perun_notification_additional_lines }}
