{{ ansible_managed | comment }}

perunReportEmailAddress={{ perun_email }}
defaultRtQueue={{ perun_oldgui_defaultRtQueue }}
vosManagerMembersGroup=members
getAttributesListForMemberTables={{ perun_oldgui_getAttributesListForMemberTables|join(',') }}
getAttributesListForUserTables={{ perun_oldgui_getAttributesListForUserTables|join(',') }}
getSupportedPasswordNamespaces={{ perun_oldgui_getSupportedPasswordNamespaces }}
logoUrl={{ perun_oldgui_logoUrl }}
getReCaptchaPublicKey={{ perun_oldgui_getReCaptchaPublicKey }}
namespacesForPreferredGroupNames=
vosToSkipCaptchaFor=
nativeLanguage={{ perun_oldgui_nativeLanguage }}
getIdentityConsolidatorUrl=
disableCreateVo={{ perun_oldgui_disableCreateVo }}

# GDPR agreement logic for admins in Perun. Any admin is required to agree with the last version of the text.
# His approvals are stored in "urn:perun:user:attribute-def:def:gdprAdminApprovedVersions".
# Relevant to CESNET instance only
gdprAdminEnabled=false

{% if perun_rpc_group_nameSecondaryRegex is defined %}
# Regex and error message for group names in GUI.
groupNameSecondaryRegex={{ perun_rpc_group_nameSecondaryRegex }}
{% endif %}
{% if perun_rpc_group_nameErrorMessage is defined %}
groupNameErrorMessage={{ perun_rpc_group_nameErrorMessage }}
{% endif %}

### NEW WUI CONFIG ######

rt.defaultQueue={{ perun_oldgui_rt_defaultQueue }}
rt.defaultMail={{ perun_oldgui_rt_defaultMail }}
reCaptcha.publicKey=6Lf0eUYUAAAAAAQuoyjZCrK9DztF4e-wF23PBPFR
reCaptcha.skipVos=
attributesForMemberTables=urn:perun:member:attribute-def:def:organization,urn:perun:user:attribute-def:def:organization,urn:perun:user:attribute-def:def:preferredMail,urn:perun:member:attribute-def:def:mail
attributesForUserTables=urn:perun:user:attribute-def:def:organization,urn:perun:user:attribute-def:def:preferredMail
namespacesForPreferredGroupNames=
supportedPasswordNamespaces=
perunInstanceName={{ perun_rpc_instance_name }}
isDevel=false
membersGroupName=members
language.supported={{ perun_oldgui_language_supported }}
language.flags.cs=data:image/gif;base64,R0lGODlhEgANALMAADV4zfLy8s3NzUiCz+cAAJ2dnexvbbfN6+3t7d4AAPj4+N/f3+hfXZIzXKK/5MFZbSH5BAAAAAAALAAAAAASAA0AAARNsMhJKx0H6b26X4I0YEpplkEahMU4OKeiBsgqujCqbqw7ALDZBtFzAQAPg9LAaDJvP0CDQE1Yr4nbcUolYK9abvVrvTXIaNEZTba4LREAOw==
language.flags.en=data:image/gif;base64,R0lGODlhEgANALMAAPv7+wAAPPsAAAUVh52dnfZgVXOQxU50qyhNp6Zxmb/I4qOx1/iPjVRuwXMQKdOi0CH5BAAAAAAALAAAAAASAA0AAARtkMhJKz3roK2cU0OIOIdkMIBiGEBRAE2zvIaELAzaAIIAM7SBzdB4vHi+FwgRkCgA0GgvGlVIHIWedrt1OKnQKdhKGDQGT59YkAg1yywXAgkYtASNd3yxoYcWPAgSBw4hAwEdHwGLAQZvFpAUEQA7

# brand.logo.[lang]=
# brand.logo.url.[lang]=
# brand.name.[lang]=
# brand.supportMail.[lang]=
# brand.supportPhone.[lang]=
{% if perun_oldgui_brand_supportMail_en is defined %}
brand.supportMail.en={{ perun_oldgui_brand_supportMail_en }}
{% endif %}
{% if perun_oldgui_brand_supportMail_cs is defined %}
brand.supportMail.cs={{ perun_oldgui_brand_supportMail_cs }}
{% endif %}
{% if perun_oldgui_brand_logo_en is defined %}
brand.logo.en={{ perun_oldgui_brand_logo_en }}
{% endif %}
{% if perun_oldgui_brand_logo_cs is defined %}
brand.logo.cs={{ perun_oldgui_brand_logo_cs }}
{% endif %}

footer.disabled=false
language.switch.disabled={{ perun_oldgui_language_switch_disabled }}
header.disabled=false

fedAuthz=fed

{% if perun_oldgui_privacyPolicyLink is defined %}
# Link to Privacy Policy
privacyPolicyLink={{ perun_oldgui_privacyPolicyLink }}
{% endif %}

# wayf.groups = { wayf config object }, // can be only local
# should have at-least two hostnames
wayf.cert.hosts={{ perun_oldgui_cert_hosts|join(',') }}
wayf.spLogoutUrl=/Consolidator.sso/Logout
wayf.spLoginUrl=/Consolidator.sso/Login
# Custom Perun SP login/logout endpoints
#spLoginUrl=https://{{ perun_rpc_hostname }}/Shibboleth.sso/Login
#spLogoutUrl=https://{{ perun_rpc_hostname }}/Shibboleth.sso/logout

# uncomment for specific texts on Identity consolidator for Proxy IdP workflow
#wayf.linkAnotherButton.disabled=true
#wayf.linkAnotherButton.cs=Zkusit znovu
#wayf.linkAnotherButton.en=Try again
#wayf.leaveButton.cs=Jít na profil
#wayf.leaveButton.en=Continue to profile
#wayf.linkAnAccount.cs=
#wayf.linkAnAccount.en=
#wayf.linkAnAccount.disabled=false

{% if perun_oldgui_wayf_idpTranslations is defined %}
# custom IdP translations like: scope or entityID|name#scope or entityID|name#...
wayf.idpTranslations={{ perun_oldgui_wayf_idpTranslations }}
{% endif %}

{% if perun_oldgui_registrar_enforceProxy is defined %}
# enforce showing single proxy entry in registrar, when offering similar users
# can be a list of entity ids, divided by ","
registrar.enforceProxy={{ perun_oldgui_registrar_enforceProxy }}
{% endif %}

# tell registrar, which url prefixes has custom wayf and should be used for identity consolidation
# if not set, user is redirected to /fed/ for federated identities (registrar->ic)
#registrar.customWayfsPrefixes=elixir,bbmri

# List of Vos and groups for which we skip summary page if no error happens and we redirect outside of registrar afterwards
# format: "vo_short_name" or "vo_short_name:group_name".
#registrar.skipSummaryFor=

# When set to true, finding of similar users after clicking on the registration submit button will not be triggered.
# Therefore, account linking will not be offered to users even when they already have registered some similar accounts.
registrar.findSimilarUsers.disabled={{ perun_oldgui_registrar_findSimilarUsers_disabled }}

### User Profile ###

# defines urn of user attributes that should be displayed on personal page
# you can force showing custom name and/or description like [name]urn[description]
# or you can have translated like: [English|NativeName]urn:perun:user:attribute-def:core:displayName[English|NativeDescription]
profile.personal.showAttributes={{ perun_oldgui_profile_personal_showAttributes|join(', ') }}

### {pages to hide: 'identities', 'organizations', 'groups', 'resources', 'privacy'}
profile.hidePages={{ perun_oldgui_profile_hidePages|join(', ') }}

### {pages to hide in settings: 'sshkeys', 'preferredgroupnames', 'preferredshells', 'dataquotas','altpasswords','samba'}
profile.settings.hidePages={{ perun_oldgui_profile_settings_hidePages|join(', ') }}

