How to
======

- start a container with interactive CLI

    perun-cli

- call non-interactive CLI to execute a script

   PERUN_DOCKER_OPTS="-w /working_dir" perun-script-cli bash -c "./somescript.sh"

- manage containers

Use Portainer at https://{{ perun_rpc_hostname }}:9000/ or use command line.
Container names are: perun_rpc, perun_engine, perun_ldapc, perun_apache.

- list all containers

    docker ps -a

- stop a container, restart a stopped container, restart a running container

    docker stop <container>
    docker start <container>
    docker restart <container>

- start a root shell in a container

    docker exec -u root -it perun_rpc bash
    docker exec -u root -it perun_engine bash
    docker exec -u root -it perun_ldapc bash
    docker exec -u root -it perun_apache bash

- list all processes in a container

    docker top <container>

