{{ ansible_managed | comment }}

####
# Angular GUI with OIDC
####

<VirtualHost *:80>
  ServerAdmin {{ perun_email }}
  ServerName {{ perun_ngui_hostname }}
  Redirect / https://{{ perun_ngui_hostname }}/
</VirtualHost>

<VirtualHost *:443>
  ServerAdmin {{ perun_email }}
  ServerName {{ perun_ngui_hostname }}
  DocumentRoot /var/www/perun-web-apps/admin-gui
  <Directory "/var/www/perun-web-apps/admin-gui">
  Options -Indexes +FollowSymLinks -MultiViews
  Require all granted
  </Directory>

  RewriteEngine On

  RewriteRule ^/(.*)/pwd-reset(.*)$ https://{{ perun_rpc_hostname }}/$1/pwd-reset$2 [L,R=301]

{{ perun_ngui_apache_special_config1 }}

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html

  SSLEngine on
  SSLCertificateFile /etc/perun/ssl/nguicert.pem
  SSLCertificateKeyFile /etc/perun/ssl/nguikey.pem
  SSLCertificateChainFile /etc/perun/ssl/nguichain.pem

  LogLevel warn ssl:warn rewrite:warn

  #### SECURITY

  # HTTP tracing
  TraceEnable off
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options
  Header always set X-Frame-Options SAMEORIGIN
  # https://scotthelme.co.uk/hsts-the-missing-link-in-tls/
  Header always set Strict-Transport-Security "max-age=63072000"
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
  Header always set X-Content-Type-Options nosniff
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection
  Header always set X-XSS-Protection "1; mode=block"
  # https://scotthelme.co.uk/content-security-policy-an-introduction/
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-eval' ; font-src https://fonts.gstatic.com https://fonts.googleapis.com ; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com ; connect-src 'self' {{ perun_rpc_oidc_issuers[0].iss }} https://{{ perun_rpc_hostname }} ; frame-src 'self' {{ perun_rpc_oidc_issuers[0].iss }} https://{{ perun_rpc_hostname }} "
  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header always set Referrer-Policy "no-referrer-when-downgrade"
  # https://scotthelme.co.uk/a-new-security-header-feature-policy/
  Header always set Feature-Policy "microphone 'none'; camera 'none'; geolocation 'none'; payment 'none'"

</VirtualHost>