{{ ansible_managed | comment }}

#Login to Perun Core
#perun.principal.name=perunEngine
#perun.principal.extSourceName=INTERNAL
#perun.principal.extSourceType=cz.metacentrum.perun.core.impl.ExtSourceInternal

# Where is Engine JSM located
#engine.unique.id=1

# Set where to find Dispatcher
dispatcher.ip.address=perun_rpc
#dispatcher.port=6071

# paths
engine.genscript.path=/opt/perun-engine/gen
engine.sendscript.path=/opt/perun-engine/send